body {
  font-family: 'Merriweather', serif;
  color: #8c8c8c;
  font-weight: 300;
}

header {
  background-color: #2d3945;
  color: #ffffff;
  text-align: center;
  height: 4em;
  display: flex;

}

header h1 {
  margin: auto;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  color: #2d3945;
}

p,
label {
  font-size: .9em;
}

main {
  padding: 1em;
}

.info-section{
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
  background-color: #eff0f1;
  border: 0;
  border-radius: 5px;
  height: 2.5em;
  width: 100%;
  margin: .5 0em;
}

textarea {
  background-color: #eff0f1;
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 100px;
}

input:focus,
select:focus,
textarea:focus {
   border: 2px solid rgba(70,105,139,1.00);
   box-shadow: 0 0 1px 1px rgba(70,105,139,1.00);
   background-color: #ededed;
}

input,
select,
textarea {
  margin: .3em 0 1em 0;
  box-sizing: border-box;
  padding: 0.1em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: .5em;
}

::placeholder {
  font-size: .7em;
  text-align: right;
  font-style: italic;
  padding: 1em;
  color: #b2b2b2;
}

.submit-button {
  background-color: #4ebbb5;
  color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 3em;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0em;
}

.double {
  border: 0;
  border-top: 3px solid #2d3945;
  border-bottom: 2px solid #2d3945;
  height: .2em;
  margin-top: 2em;
}

.single {
  border-bottom: 2px solid #2d3945;
}

footer {
  font-size: .8em;
  font-style: italic;
  text-align: center;
  padding-bottom: 2em;
}
